body {
font-family: 'Playfair Display', serif;
background-color: #FFFFFF;
color: #212121;
}
nav {
background: #8EB700;
padding: 15px;
display: flex;
gap: 20px;
}
nav a {
color: #FFFFFF;
text-decoration: none;
font-weight: bold;
}
.hero {
padding: 100px;
text-align: center;
background: rgba(142, 183, 0, 0.6);
}
.hero h1 {
font-size: 48px;
}
.content {
padding: 40px;
max-width: 900px;
margin: auto;
}
.contact-form {
display: flex;
flex-direction: column;
gap: 10px;
max-width: 400px;
}
button {
background: #FF5470;
color: white;
padding: 10px;
border: none;
cursor: pointer;
}

.cards-row {
  display: flex;
  justify-content: center;
}

.card-fixed {
  width: 300px;      /* vagy 260-280px ha nagyobb */
  height: 100%; 
}