body {
font-family: 'Playfair Display', serif;
background-color: #FFFFFF;
color: #212121;
}
nav {
background: #8EB700;
padding: 15px;
display: flex;
gap: 20px;
}
nav a {
color: #FFFFFF;
text-decoration: none;
font-weight: bold;
}
.hero {
padding: 100px;
text-align: center;
background: rgba(142, 183, 0, 0.6);
}
.hero h1 {
font-size: 48px;
}
.content {
padding: 40px;
max-width: 900px;
margin: auto;
}
.contact-form {
display: flex;
flex-direction: column;
gap: 10px;
max-width: 400px;
}
button {
background: #FF5470;
color: white;
padding: 10px;
border: none;
cursor: pointer;
}

.cards-row {
  display: flex;
  justify-content: center;
}

.card-fixed {
  width: 300px;      /* vagy 260-280px ha nagyobb */
  height: 100%; 
}
.cards-row .btn-link{
color:rgba(255, 84, 112, 0.8);
font-weight: bold;
}

.card-img-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 66.66%;
  overflow: hidden;
}
.card-img-wrapper .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-body .card-text {
  max-height: 70px; 
  overflow: hidden;
  mask-image: linear-gradient(to bottom, 
                              black 0%, 
                              black 85%, 
                              transparent 100%);

  -webkit-mask-image: linear-gradient(to bottom, 
                                      black 0%, 
                                      black 85%, 
                                      transparent 100%);
}